<h3 style="text-align:center">{{podcast?.fileName | StripExtensionPipe}}</h3>
<audio #player controls class='audio-container' (timeupdate)="getCurrentTime($any($event))">
  <source src="{{backendUrl}}/qem/{{podcast?.fileName | StripExtensionPipe}}/{{podcast?.fileName}}" type="audio/mp3">
</audio>
<div *ngIf="!player.paused">Current track {{getCurrentTrack()}}</div>
<button *ngIf="podcast?.showTrackList" (click)="toggle()" style="text-align:center">{{tracklist}}</button>
<div *ngIf="podcast?.showTrackList && this.showTracklist">
  <div *ngFor="let song of podcast?.trackList">
    <button class="astext" *ngIf="song.timestamp != -1; else text" (click)="jump(song.timestamp)"> <b>{{song.title}}</b>{{song.info + " "}} Timestamp:{{" "}}{{song.timestamp | timestampPipe}}</button>
    <button *ngIf="song.timestamp != -1" (click)="removeTimestamp(song)">Remove Timestamp</button>
    <ng-template #text><b>{{song.title}}</b>{{song.info}}<button (click)="addTimestamp(song)">Add Timestamp</button></ng-template>

  </div>
</div>

